:root {
  --num0-color: cadetblue;
  --num1-color: green;
  --num2-color: yellow;
  --num3-color: red;
  --hue: calc(360 * var(--random));
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center / cover no-repeat;
}

.countdown-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.countdown-heading {
  font-family: "Rammetto One", sans-serif;
  font-size: 3rem;
  color: white;
  /* Remove the border property */
  /* Add the text-stroke property with white color and 2px width */
  -webkit-text-stroke: 1px black;
  /* Remove the padding property */
}

.countdown-boxes {
  display: flex;
  gap: 20px;
}

.countdown-box {
  width: 10rem; /* Changed to relative unit */
  height: 10rem; /* Changed to relative unit */
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-text {
  color: white;
  font-size: 4rem; /* Changed to relative unit */
  margin: 0; /* Removed the margin */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.countdown-label {
  font-size: 1.5rem; /* Changed to relative unit */
  color: gold;
  margin: 0; /* Removed the margin */
}

.optional-text {
  font-size: 2rem; /* Changed to relative unit */
  margin-top: 20px;
  color: white;
  animation: fade-in-out 2s infinite;
}

.new-year-text {
  font-family: "Caveat", cursive;
  font-family: "Gloria Hallelujah", cursive;
  color: white;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
}
.year-color {
  font-family: "Gochi Hand", cursive;
  font-size: 7rem;
  gap: 10px;
  display: flex;
  justify-content: center; /* Horizontally center-aligns content */
  align-items: center;
}

.num0 {
  color: var(--num0-color);
}
.num1 {
  color: var(--num1-color);
}
.num2 {
  color: var(--num2-color);
}
.num3 {
  color: var(--num3-color);
}
#fireworks {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
@keyframes blink {
  0% {
    border-color: black;
  }
  50% {
    border-color: hsl(calc(var(--hue) * 1deg), 100%, 50%);
  }
  100% {
    border-color: black;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes glow {
  0% {
    text-shadow: 0 0 10px black;
  }
  50% {
    text-shadow: 0 0 20px white;
  }
  100% {
    text-shadow: 0 0 10px black;
  }
}
.countdown-box {
  animation: blink 1s infinite;
}
