* {
    padding: 0;
    margin: 0;
    font-family: 'Tangerine', cursive;
}

.background {
    background-color: #12181B;
    height: 100vh;
    padding-top: 1px;
    background: url('ttt.jpg') center/cover no-repeat;
    background-size: cover;
}

.title {
    color: rgb(145, 5, 5);
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
}

.display {
    color: green;
    font-size: 50px;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color:rgb(255, 217, 0);
}

.playerO {
    color: #d8249c;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 50px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
}