body {background-image: image();
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
    background-color: #aedff2; /* Change the background color here */
    padding: 10px; /* Add some padding for a cleaner look */
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    cursor: pointer;
}

.cell:hover {
    background-color: #e6e6e6;
}

.status {
    font-size: 1.5em;
    margin-top: 20px;
}

.reset-btn {
    font-size: 1em;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

.reset-btn:hover {
    background-color: #45a049;
}
