*{
    background-color: darkcyan;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 15px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #ffd700;
    color: black;
  }

  #status{
    color: 	#ffd700;
    font-size: 35px;
  }

  #rb{
    color: white;
    width: 175px;
    height: 40px;
    font-size: 20px;
  }
  