body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a9f3f860;
}

.calculator {
    background-color: #cac0c086;
    text-align: center;
    width: 320px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(160, 102, 102, 0.822);
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #8b8585;
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: #99d0f086;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

button {
    background-color: #6f6f94b2;
    color: rgb(252, 243, 243);
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearButton {
    background-color: rgba(247, 109, 109, 0.932); /* Change the background color to red */
    color: white; /* Change the text color to white */
}

#calculateResult  {
    background-color: rgba(102, 199, 83, 0.932); 
    color: white;
}
button:hover {
    background-color: #6dc0d4c0;
}