body {
    margin: 0;
    overflow: hidden;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    font-family: 'Arial', sans-serif;
  }
  
  #fireworks-container {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
  }
  
  .firework {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f06;
    border-radius: 50%;
    animation: fireworks 2s ease-in-out infinite;
  }
  .firework:nth-child(1) {
    top: 80%;
    left: 10%;
  }
  
  .firework:nth-child(2) {
    top: 70%;
    left: 30%;
  }
  
  .firework:nth-child(3) {
    top: 90%;
    left: 50%;
  }
  
  .firework:nth-child(4) {
    top: 60%;
    left: 70%;
  }
  
  .firework:nth-child(5) {
    top: 75%;
    left: 90%;
  }
  
  @keyframes fireworks {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(0deg);
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(-100vh) rotate(360deg);
      }
    }
  
  
  #invitation-container {
    text-align: center;
    z-index: 1;
  }
  
  #invitation-title {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  #invite-message {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  #countdown-container {
    font-size: 2em;
  }
  