body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-game-volcano-advertising-background-backgroundblack-backgroundlight-spotstar-image_72467.jpg') center/cover;
}

h1 {
    color: #fff;
    text-align: center;
}

#game-status {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cell:hover {
    background-color: #2980b9;
}

#reset-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#reset-btn:hover {
    background-color: #27ae60;
}
