body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #04ff00, #eeff00);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

input {
    padding: 10px;
    font-size: 14px;
    margin: 5px;
    width: 80%;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background: linear-gradient(to right, #ff00b3, #ffae00);
    color: rgb(254, 254, 254);
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #0056b3, #007BFF);
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
