html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

body {
  font-family: "Onest", sans-serif;
  color: #60697b;
}
p {
  line-height: 1.8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #343f52;
}

.primary-navigation ul > li > a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  padding: 10px 12px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #000;
  transition: all 0.3s ease;
  line-height: normal;
}
.georgia {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.vv {
  transition: all 0.3s ease;
}

.vv2 {
  padding: 14px 0 !important;
  transition: all 0.4s ease;
}

.section-padd {
  padding: 100px 0;
}

.nav-link.active {
  color: #8ce0f1 !important;
  background-color: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

a:link {
  text-decoration: none;
}

.btn-primary {
  background-color: #8ce0f1;
  border-color: #8ce0f1;
}

.bg-gradient-blend {
  background: linear-gradient(160deg, #ffb7b7 9%, #727272 100%),
    radial-gradient(100% 100% at 30% 10%, #ffd1d1 0, #260000 100%),
    linear-gradient(180deg, #0ff 0, #fff 100%),
    radial-gradient(100% 100% at 70% 0, red 0, #00ffe0 100%),
    linear-gradient(280deg, #dbff00 0, #30f 100%);
  background-blend-mode: screen, overlay, color-burn, color-dodge, normal;
}

.img-mask.mask-2 img {
  -webkit-mask-image: url(../images/hex.svg);
  mask-image: url(../images/hex.svg);
}

.img-mask img {
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  height: auto;
  width: auto;
  max-width: 100%;
  -webkit-mask-size: auto auto;
}
.icon-svg.icon-svg-sm {
  width: 2.2rem;
  height: 2.2rem;
}
.solid-duo.text-purple-aqua .fill-primary {
  fill: #747ed1;
}
.solid-duo.text-purple-aqua .fill-secondary {
  fill: #8ce0f1;
}
blockquote.icon {
  position: relative;
  border: 0;
  padding: 0;
}
blockquote.icon:before {
  top: -0.9rem;
}
blockquote.icon:before {
  content: "\201d";
  position: absolute;
  top: -1.5rem;
  left: -0.9rem;
  color: rgba(52, 63, 82, 0.05);
  font-size: 10rem;
  line-height: 1;
  z-index: 1;
}
::placeholder {
  font-size: 15px;
  font-weight: 600;
}
.social > a {
  margin: 0 0.35rem;
}
@media (max-width: 1000px) {
  .pp2 {
    margin-top: 200px;
  }
}
@media (max-width: 768px) {
  .pp2 {
    margin-top: 700px;
  }
}
@media (max-width: 668px) {
  .pp2 {
    margin-top: 700px;
  }
}
