body {
    font-family: Arial, sans-serif;
    font-size: 32px;
    background-image: url(./image/fibo.gif);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  label {
    display:block;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .output {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 36px;
    font-weight: bold;
  }
